{% extends "bootstrap/base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
<style>
#udb_history {
    position: absolute;
    z-index: 9;
}

#udb_history_header {
    cursor: move;
    z-index: 10;
    background-color: #505050;
    text-align: center;
}
#udb_history_scroll {
    height:420px;
    width:526px;
    border:1px solid #ccc;
    font:16px/26px Georgia, Garamond, Serif;
    overflow:auto;
}
</style>
{% endblock %}

{% block head %}
{{ super() }}
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{{ moment.lang('ru') }}
<script src="{{ url_for('static', filename='udb_history_drag.js') }}"></script>
<script src="{{ url_for('static', filename='updateScrollWidget.js') }}"></script>
<script>
{% if current_user.is_authenticated %}
    setInterval(updateHistoryInterval, 1000)
    function updateHistoryInterval()
    {
        $.get("{{ url_for('udb.history') }}", updateHistory)

    }
    function updateHistory(data, status)
    {
        if (status != 'success') { return }
        //console.log(data)
        updateScrollWidget(data)
    }
{% endif %}
</script>
{% endblock %}

{% block title %}Ryoka{% endblock %}

{% block navbar %}
<div class="navbar navbar-default navbar-main">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
             data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Показать!</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Ryoka</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Место службы</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('auth.logout') }}">Покинуть расположение</a></li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}">Предъявить пропуск</a></li>
                <li><a href="{{ url_for('auth.register') }}">Представиться начальнику</a></li>
                {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% with messages = get_flashed_messages() %}
        {% for message in messages %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}
    {% endwith %}

    {% block page_content %}{% endblock %}
</div>
{% if current_user.is_authenticated %}
<div id="udb_history" class="panel panel-default">
    <div id="udb_history_header" class="panel-heading">Click here to move</div>   
    <div id="udb_history_scroll" class="panel-body"></div>
</div>
{% endif %}
{% endblock %}
